* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-1 {
    background-color: blue;
    padding: 16px;
}

nav {
    display: flex;
    gap: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
}

nav > a:hover {
    color: hotpink;
}

.header-2 {
    background-color: hotpink;
}

main {
    background-color: green;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* overflow-y: auto; */
}

footer {
    background-color: red;
}

aside {
    background-color: lawngreen;
}

section {
    background-color: orange;
}

.img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.person-card {
    display: flex;
    /* sadece flex ve grid yapilariyla kullanilirlar */
    align-items: center;
    gap: 10px;
}

.image-div {
    width: 60px;
}

.container {
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    min-height: 100vh;
}

.wrapper {
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
}

.inner-wrapper {
    background-color: darkblue;
}


@media (max-width:700px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:400px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}